//=========================
// IMPROVING THE READABILITY OF THE ERVARING & PUBLICATIES
//=========================

.pubs-page {
    .content{
    font-weight: 300;
    line-height: 1.4;
}

    .content p,
    .content li {
	font-weight 300;
	line-height 1.4;
    }

